In [40]:
import pandas as pd

df = pd.read_excel("Telco_customer_churn.xlsx")
df.head()

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,...,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,...,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,...,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,1,86,5372,Moved
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,...,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,...,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,89,5340,Competitor had better devices

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 33 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         7043 non-null   object
 1   Count              7043 non-null   int64
 2   Country            7043 non-null   object
 3   State              7043 non-null   object
 4   City               7043 non-null   object
 5   Zip Code           7043 non-null   int64
 6   Lat Long           7043 non-null   object
 7   Latitude           7043 non-null   float64
 8   Longitude          7043 non-null   float64
 9   Gender             7043 non-null   object
 10  Senior Citizen     7043 non-null   object
 11  Partner            7043 non-null   object
 12  Dependents         7043 non-null   object
 13  Tenure Months      7043 non-null   int64
 14  Phone Service      7043 non-null   object
 15  Multiple Lines     7043 non-null   object
 16  Internet Service   7043 non-null   object
 17  Online Security    7043 non-null   object
 18  Online Backup      7043 non-null   object
 19  Device Protection  7043 non-null   object
 20  Tech Support       7043 non-null   object
 21  Streaming TV       7043 non-null   object
 22  Streaming Movies   7043 non-null   object
 23  Contract           7043 non-null   object
 24  Paperless Billing  7043 non-null   object
 25  Payment Method     7043 non-null   object
 26  Monthly Charges    7043 non-null   float64
 27  Total Charges      7043 non-null   object
 28  Churn Label        7043 non-null   object
 29  Churn Value        7043 non-null   int64
 30  Churn Score        7043 non-null   int64
 31  CLTV               7043 non-null   int64
 32  Churn Reason       1869 non-null   object
dtypes: float64(3), int64(6), object(24)
memory usage: 1.8+ MB

In [42]:
df["Churn Value"].value_counts()

Churn Value
0    5174
1    1869
Name: count, dtype: int64

In [43]:
df.drop([
    "CustomerID", "Count", "Country", "State", "City",
    "Zip Code", "Lat Long", "Latitude", "Longitude",
    "Churn Label", "Churn Score", "CLTV", "Churn Reason"
], axis=1, inplace=True)

In [44]:
df.head()

,Gender,Senior Citizen,Partner,Dependents,Tenure Months,Phone Service,Multiple Lines,Internet Service,Online Security,Online Backup,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Value
0,Male,No,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,1
1,Female,No,No,Yes,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,1
2,Female,No,No,Yes,8,Yes,Yes,Fiber optic,No,No,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5,1
3,Female,No,Yes,Yes,28,Yes,Yes,Fiber optic,No,No,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,1
4,Male,No,No,Yes,49,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,1

In [45]:
df.rename(columns={"Churn Value": "Churn"}, inplace=True)

In [46]:
df["Churn"].value_counts()

Churn
0    5174
1    1869
Name: count, dtype: int64

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             7043 non-null   object
 1   Senior Citizen     7043 non-null   object
 2   Partner            7043 non-null   object
 3   Dependents         7043 non-null   object
 4   Tenure Months      7043 non-null   int64
 5   Phone Service      7043 non-null   object
 6   Multiple Lines     7043 non-null   object
 7   Internet Service   7043 non-null   object
 8   Online Security    7043 non-null   object
 9   Online Backup      7043 non-null   object
 10  Device Protection  7043 non-null   object
 11  Tech Support       7043 non-null   object
 12  Streaming TV       7043 non-null   object
 13  Streaming Movies   7043 non-null   object
 14  Contract           7043 non-null   object
 15  Paperless Billing  7043 non-null   object
 16  Payment Method     7043 non-null   object
 17  Monthly Charges    7043 non-null   float64
 18  Total Charges      7043 non-null   object
 19  Churn              7043 non-null   int64
dtypes: float64(1), int64(2), object(17)
memory usage: 1.1+ MB

In [48]:
df = pd.get_dummies(df, drop_first=True)

In [49]:
df.head()

,Tenure Months,Monthly Charges,Churn,Gender_Male,Senior Citizen_Yes,Partner_Yes,Dependents_Yes,Phone Service_Yes,Multiple Lines_No phone service,Multiple Lines_Yes,...,Total Charges_8496.7,Total Charges_8529.5,Total Charges_8543.25,Total Charges_8547.15,Total Charges_8564.75,Total Charges_8594.4,Total Charges_8670.1,Total Charges_8672.45,Total Charges_8684.8,Total Charges_
0,2,53.85,1,True,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1,2,70.70,1,False,False,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2,8,99.65,1,False,False,False,True,True,False,True,...,False,False,False,False,False,False,False,False,False,False
3,28,104.80,1,False,False,True,True,True,False,True,...,False,False,False,False,False,False,False,False,False,False
4,49,103.70,1,True,False,False,True,True,False,True,...,False,False,False,False,False,False,False,False,False,False

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Columns: 6560 entries, Tenure Months to Total Charges_
dtypes: bool(6557), float64(1), int64(2)
memory usage: 44.2 MB

In [51]:
X = df.drop("Churn", axis=1)
y = df["Churn"]

In [52]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [53]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(max_iter=2000)
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

In [54]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

print("Accuracy:", accuracy_score(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

Accuracy: 0.8005677785663591
[[900 109]
 [172 228]]
              precision    recall  f1-score   support

           0       0.84      0.89      0.86      1009
           1       0.68      0.57      0.62       400

    accuracy                           0.80      1409
   macro avg       0.76      0.73      0.74      1409
weighted avg       0.79      0.80      0.80      1409

In [55]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_estimators=200, random_state=42)
rf.fit(X_train, y_train)

y_pred_rf = rf.predict(X_test)

print("Accuracy:", accuracy_score(y_test, y_pred_rf))
print(confusion_matrix(y_test, y_pred_rf))
print(classification_report(y_test, y_pred_rf))

Accuracy: 0.801277501774308
[[920  89]
 [191 209]]
              precision    recall  f1-score   support

           0       0.83      0.91      0.87      1009
           1       0.70      0.52      0.60       400

    accuracy                           0.80      1409
   macro avg       0.76      0.72      0.73      1409
weighted avg       0.79      0.80      0.79      1409

In [56]:
from sklearn.linear_model import LogisticRegression

model_balanced = LogisticRegression(max_iter=2000, class_weight="balanced")
model_balanced.fit(X_train, y_train)

y_pred_bal = model_balanced.predict(X_test)

print("Accuracy:", accuracy_score(y_test, y_pred_bal))
print(confusion_matrix(y_test, y_pred_bal))
print(classification_report(y_test, y_pred_bal))

Accuracy: 0.7672107877927609
[[770 239]
 [ 89 311]]
              precision    recall  f1-score   support

           0       0.90      0.76      0.82      1009
           1       0.57      0.78      0.65       400

    accuracy                           0.77      1409
   macro avg       0.73      0.77      0.74      1409
weighted avg       0.80      0.77      0.78      1409

In [57]:
import pandas as pd

coefficients = pd.Series(model_balanced.coef_[0], index=X.columns)
top_features = coefficients.abs().sort_values(ascending=False).head(10)

print(top_features)

Total Charges_4759.75    1.670032
Total Charges_3046.4     1.645763
Total Charges_1327.15    1.592585
Total Charges_6440.25    1.580678
Total Charges_2460.15    1.562703
Total Charges_1021.8     1.546160
Total Charges_4820.15    1.538695
Total Charges_3147.5     1.510984
Total Charges_5356.45    1.484883
Total Charges_1334       1.483234
dtype: float64

In [58]:
import pandas as pd

df = pd.read_excel("Telco_customer_churn.xlsx")
df.head()

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,...,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,...,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,...,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,1,86,5372,Moved
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,...,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,...,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,89,5340,Competitor had better devices

In [59]:
df.drop([
    "CustomerID", "Count", "Country", "State", "City",
    "Zip Code", "Lat Long", "Latitude", "Longitude",
    "Churn Label", "Churn Score", "CLTV", "Churn Reason"
], axis=1, inplace=True)

In [60]:
df["Total Charges"] = pd.to_numeric(df["Total Charges"], errors="coerce")
df["Total Charges"].fillna(df["Total Charges"].median(), inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_1480\2306565589.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Total Charges"].fillna(df["Total Charges"].median(), inplace=True)

In [61]:
df["Total Charges"].dtype

dtype('float64')

In [62]:
df.rename(columns={"Churn Value": "Churn"}, inplace=True)

In [63]:
df = pd.get_dummies(df, drop_first=True)

In [64]:
X = df.drop("Churn", axis=1)
y = df["Churn"]

In [65]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [66]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(max_iter=2000, class_weight="balanced")
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

In [67]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

print("Accuracy:", accuracy_score(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

Accuracy: 0.7473385379701917
[[729 280]
 [ 76 324]]
              precision    recall  f1-score   support

           0       0.91      0.72      0.80      1009
           1       0.54      0.81      0.65       400

    accuracy                           0.75      1409
   macro avg       0.72      0.77      0.72      1409
weighted avg       0.80      0.75      0.76      1409

In [68]:
import pandas as pd

coefficients = pd.Series(model.coef_[0], index=X.columns)
top_positive = coefficients.sort_values(ascending=False).head(10)
top_negative = coefficients.sort_values().head(10)

print("Top factors increasing churn:")
print(top_positive)

print("\nTop factors decreasing churn:")
print(top_negative)

Top factors increasing churn:
Multiple Lines_No phone service    0.528103
Paperless Billing_Yes              0.362444
Payment Method_Electronic check    0.312806
Partner_Yes                        0.248115
Multiple Lines_Yes                 0.169494
Internet Service_Fiber optic       0.158500
Senior Citizen_Yes                 0.107941
Monthly Charges                    0.016089
Streaming TV_Yes                   0.003604
Total Charges                      0.000321
dtype: float64

Top factors decreasing churn:
Dependents_Yes                           -1.452937
Contract_Two year                        -1.445232
Contract_One year                        -0.646501
Online Security_Yes                      -0.466912
Tech Support_Yes                         -0.390169
Phone Service_Yes                        -0.267304
Online Backup_Yes                        -0.187727
Payment Method_Credit card (automatic)   -0.123811
Device Protection_Yes                    -0.102241
Payment Method_Mailed check              -0.063855
dtype: float64

In [69]:
probabilities = model.predict_proba(X_test)[:,1]

risk_df = pd.DataFrame({
    "Actual": y_test,
    "Predicted_Prob": probabilities
})

risk_df["Risk_Level"] = pd.cut(
    risk_df["Predicted_Prob"],
    bins=[0,0.4,0.7,1],
    labels=["Low Risk","Medium Risk","High Risk"]
)

risk_df.head()

      Actual  Predicted_Prob   Risk_Level
185        1        0.772888    High Risk
2715       0        0.564004  Medium Risk
3825       0        0.526694  Medium Risk
1807       1        0.894868    High Risk
132        1        0.600582  Medium Risk

In [70]:
risk_df["Risk_Level"].value_counts()

Risk_Level
Low Risk       698
High Risk      395
Medium Risk    316
Name: count, dtype: int64

In [71]:
risk_df.groupby("Risk_Level")["Actual"].mean()

C:\Users\DELL\AppData\Local\Temp\ipykernel_1480\3572598764.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  risk_df.groupby("Risk_Level")["Actual"].mean()

Risk_Level
Low Risk       0.057307
Medium Risk    0.322785
High Risk      0.653165
Name: Actual, dtype: float64

In [72]:
high_risk_customers = risk_df[risk_df["Risk_Level"] == "High Risk"]
high_risk_customers.head()

      Actual  Predicted_Prob Risk_Level
185        1        0.772888  High Risk
1807       1        0.894868  High Risk
1263       1        0.910114  High Risk
3732       0        0.927052  High Risk
811        1        0.811438  High Risk

In [73]:
risk_df.to_csv("churn_risk_segmentation.csv", index=False)